version: '3.7'
services:
  selenium-hub:
    image: selenium/hub:4.18.1
    container_name: selenium-hub
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"
    networks:
      - selenium-grid
  chrome:
    image: selenium/node-chrome:4.18.1
    shm_size: 4gb
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    ports:
      - "5900:5900"
    networks:
      - selenium-grid
  test-runner:
    build: .
    # depends_on:
    #   - selenium-hub
    #   - chrome
    environment:
      - HUB_HOST=selenium-hub
    command: /bin/sh -c "./wait-for-grid.sh mvn clean test"
    networks:
      - selenium-grid

networks:
  selenium-grid:
    driver: bridge
